/* Resetting default browser styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Global styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #ffc107;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f1111;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
    min-width: 160px;
}

.dropdown-content a {
    color: #f9f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Main section styles */
.hero {
    background-image: url('5.jpg'); /* Change to your background image */
    background-size: cover;
    background-position: center;
    color: #eef5f5;
    text-align: center;
    padding: 150px 0;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 40px;
}

.hero .btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #ffc107;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #ffdb4d;
}

.destinations {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.destination {
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
    transition: transform 0.3s ease;
}

.destination:hover {
    transform: translateY(-10px);
}

.destination img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.destination:hover img {
    transform: scale(1.1);
}

.destination h3 {
    margin-top: 15px;
    font-size: 24px;
}

.destination p {
    font-size: 16px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

footer .footer-content {
    margin-bottom: 30px;
}

footer a {
    color: #ffc107;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffdb4d;
}
.destination a {
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure link occupies space */
}
